<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>

<body>

<div class="container">
    <div class="card">
        <h2>CReate Account</h2>

        <form method="POST">

            <input type="text" name="username" placeholder="Username">

            <input type="password" name="password" placeholder="Password">

            <button type="submit">
                Signuo
            </button>


        </form>
    </div>
</div>
</body>
</html>