{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panic Planner</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>

<div class="layout">

    <!-- SIDEBAR -->
    <div class="sidebar">

        <h2 class="logo">Panic Planner</h2>

        <ul class="menu">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="#">Study Planner</a></li>
            <li><a href="#">Syllabus</a></li>
            <li><a href="#">Tasks</a></li>
            <li><a href="#">Notes</a></li>
        </ul>

        <!-- LOGOUT BOTTOM -->
        <div class="logout-section">
            <a href="{% url 'logout' %}" class="logout-btn">
                Logout
            </a>
        </div>

    </div>

    <!-- MAIN CONTENT -->
    <div class="main">

        <!-- TOP BAR -->
        <div class="topbar">
            <div class="welcome">Welcome, {{ user.username }}</div>

            <div class="profile">
                <span>Profile</span>
            </div>
        </div>

        {% block content %}
        {% endblock %}

    </div>

</div>

</body>
</html>