{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Subjects</title>
    <link rel="stylesheet" href="{% static 'css/subjects.css' %}">
</head>

<body>

<h1>My Subjects</h1>

<div class="top-bar">
    <a class="add-btn" href="{% url 'subject_create' %}">+ Add Subject</a>
</div>

<ul>
  {% for subject in subjects %}
    <li>
        <span>{{ subject.name }}</span>

        <div class="actions">
            <a class="edit-btn" href="{% url 'subject_update' subject.id %}">Edit</a>
            <a class="delete-btn" href="{% url 'subject_delete' subject.id %}">Delete</a>
        </div>
    </li>
  {% empty %}
    <li>No subjects found</li>
  {% endfor %}
</ul>

</body>
</html>